*{
    margin: 0;
    padding: 0;
}
.hola{
    margin-top: 50px;
    width: 250px;
    height: 200px;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-left: 35px;
}
body{
    background-color: #eeeae8f1;
}

.inicio{
    background-color: #FFF7E3;
    height: 300px;
    width: 300px;
    margin-left: 10px;
}
.logo{
    width: 200px;
    margin-left: 50px;
}
.watches{
    font-weight: bold;
    font-size: 23px;
    margin-top: 20px;
    margin-left: 15px;
}

.coms{
    margin-top: -15px;
    margin-left: 15px;
}
.Contenedor{
    margin-left: 550px;
    width: 350px;
    height: auto;
    background-color: white;
}

.informacion{
    color: #989898;
    font-weight: bold;
    font-size: 19px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-danger{
    margin-left: 15px;
    width: 110px;
}
@media all and (max-width: 780px){
    .container{
        width: 340px;
        height: auto;
        align-items: center;
        margin-bottom: 20%;
        margin-left: 10px;
        position: absolute;
    }
}
.rel1{
    width: 100px;
    margin-left: 80px;
    margin-top: 20px;
}



.comprar{
    width: 25px;
    background-color: #FFF7E3;
}

.olves1{
    font-size: 15px;
    margin-left: 50px;
    font-size: 25px;
    color: #6e6e6e;
    font-weight: bold;
}

.precio{
    font-size: 15px;
    color: #989898;
    margin-left: 110px;
}
.btn-outline-primary{
    margin-left: 50px;
    width: 140px;
    height: 30px;
    text-align:center;
}

